$primary: transparent;
$secondary: transparent;
$success: transparent;
$info: transparent;
$warning: transparent;
$danger: transparent;
$light: transparent;
$dark: transparent;

// .bg-gradient-primary-success {
//     background: linear-gradient(to right, $primary, $success);
// }

// $enableHeaderShapeGradient: true;

// .bg-random-shape {
//     @if $enableHeaderShapeGradient {
//         background: linear-gradient(-45deg, rgba(#ffffff, .05), rgba($primary, .3));
//     }
// }

// .bg-gradient-primary-to-transparent {
//     background: linear-gradient(to right, darken($primary, 10%), rgba($primary, .5));
// }

// .bg-gradient-danger-warning {
//     background: linear-gradient(to right, $danger, $warning);
// }

// .bg-gradient-warning-success {
//     background: linear-gradient(to right, $success, $warning);
// }

// .bg-darken-tr {
//     background: rgba($dark, .6);
// }

// .bg-product-label-warning {
//     background: $warning;

//     &:after {
//         background: lighten($warning, 20%);
//     }
// }

// .bg-product-label-success {
//     background: $success;

//     &:after {
//         background: lighten($success, 20%);
//     }
// }

// .bg-product-label-danger {
//     background: $danger;

//     &:after {
//         background: lighten($danger, 20%);
//     }
// }

// .after-border-darken-tr:after {
//     border-color: rgba($dark, .6);
// }

// .fill-bubble-1 {
//     fill: lighten($primary, 10%);
// }

// .fill-bubble-2 {
//     fill: lighten($primary, 3%);
// }

// .border-warning-tr {
//     border-color: rgba($warning, .6);
// }

// .shadow-primary-tr {
//     box-shadow: 0 0 30px 3px rgba($primary, .3);
// }

// .before-bg-dark {
//     &:before {
//         background-color: $dark;
//     }
// }

// .before-bg-warning {
//     &:before {
//         background-color: $warning;
//     }
// }

// .text-darken-dark {
//     color: darken($dark, 10%);
// }

// .before-bg-dark-lighten {
//     &:before {
//         background-color: lighten($dark, 2%);
//     }
// }

// .hover-bg-primary {
//     &:hover {
//         background: rgba($primary, 0.2);
//     }
// }

// .slick-slider {
//     .slick-dots {
//         bottom: 20px;

//         li button:before {
//             font-size: 10px;
//         }
//     }

//     .slick-prev {
//         left: 15px;
//     }

//     .slick-next {
//         right: 20px;
//     }

//     .slick-next,
//     .slick-prev {
//         z-index: 2;

//         &:before {
//             color: $warning;
//             font-size: 30px;
//         }
//     }

//     &.products-slick {
//         .slick-list {
//             padding-bottom: 30px;
//             padding-top: 20px;
//         }

//         .slick-prev {
//             left: 0px;
//         }

//         .slick-next {
//             right: 30px;
//         }

//         .slick-next,
//         .slick-prev {
//             z-index: 2;

//             &:before {
//                 color: $primary;
//                 font-size: 50px;
//             }
//         }
//     }
// }

@import "~bootstrap/scss/bootstrap.scss";