@import "../../theme.scss";

.bg-gradient-primary-success {
    background: linear-gradient(to right, $primary, $success);
}

.bg-header {
    background: linear-gradient(-45deg, lighten($primary, 20%), darken($primary, 20%));
}

$enableHeaderShapeGradient: true;

.bg-random-shape {
    @if $enableHeaderShapeGradient {
        background: linear-gradient(-45deg, rgba(#ffffff, .05), rgba($primary, .3));
    }
}

.bg-gradient-primary-to-transparent {
    background: linear-gradient(to right, darken($primary, 10%), rgba($primary, .5));
}

.bg-gradient-danger-warning {
    background: linear-gradient(to right, $danger, $warning);
}

.bg-gradient-warning-success {
    background: linear-gradient(to right, $success, $warning);
}

.bg-darken-tr {
    background: rgba($dark, .6);
}

.bg-primary-darken {
    background: darken($primary, 5%);
}

.after-border-darken-tr:after {
    border-color: rgba($dark, .6);
}

.fill-bubble-1 {
    fill: lighten($primary, 10%);
}

.fill-bubble-2 {
    fill: lighten($primary, 3%);
}

.border-warning-tr {
    border-color: rgba($warning, .6);
}

.shadow-primary-tr {
    box-shadow: 0 0 30px 3px rgba($primary, .3);
}

@import "~bootstrap/scss/bootstrap.scss";