/* Bootstrap Coloring */

$primary: #2196F3;
$secondary: #6c757d;
$success: #41ec86;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #fa7496;
$light: #f8f9fa;
$dark: #212529;

$enableHeaderShapeGradient: false;

/* --- */