/* Bootstrap Coloring */

$primary: #3daffc;
$secondary: #6c757d;
$success: #41ec86;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #fa7496;
$light: #f8f9fa;
$dark: #212529;

/* --- */

.bg-gradient-primary-success {
    background: linear-gradient(to right, $primary, $success);
}

.bg-gradient-danger-warning {
    background: linear-gradient(to right, $danger, $warning);
}

@import "~bootstrap/scss/bootstrap.scss";